<?xml version="1.0"?>
<config>
    <sections>
        <carriers>
            <groups>
                <speedyshippingmodule translate="label" module="shipping">
                    <label>Speedy Shipping</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>555</sort_order>
                    
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <server translate="label">
                            <label>Server Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </server>
                        
                        <username translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </username>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </password>
                        <contact_name>
                                <label>Лице за контакти:</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </contact_name>
                        <contact_telephone>
                                <label>Телефон:</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </contact_telephone>
                        <end_of_workingtime>
                                <label>Край на работното време:</label>
                            <frontend_type>time</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </end_of_workingtime>
                       <allowed_methods translate="label">
                            <label>Allowed Methods</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>speedyshippingmodule/carrier_source_method</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </allowed_methods>
                        
                        <fixed_pricing_enable translate="label">
                            <label>Ценообразуване на услутите.:</label>
                            <frontend_type>select</frontend_type>
                            <source_model>speedyshippingmodule/carrier_source_calculation</source_model>
                            <sort_order>10</sort_order>
                            <comment>Ценообразуване на услутите. </comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </fixed_pricing_enable>
                        <fixedPrice translate="label">
                            <label>Фиксирана цена за доставка(без ДДС):</label>
                            <sort_order></sort_order>
                            <depends>
                                <fixed_pricing_enable>2</fixed_pricing_enable> 
                            </depends>
                            <validate>validate-number</validate>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </fixedPrice>
                        <handlingCharge translate="label">
                            <label>Стойност на надбавката (без ДДС):</label>
                            <sort_order></sort_order>
                            <depends>
                                <fixed_pricing_enable>3</fixed_pricing_enable> 
                            </depends>
                            <validate>validate-number</validate>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </handlingCharge>
                        <deferredDays translate="label">
                            <label>Брой дни за отместване на датата на товарителницата</label>
                            <sort_order></sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>speedyshippingmodule/carrier_source_deferreddays</source_model>
                            <validate>validate-number</validate>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </deferredDays>
                        <!--<istest translate="label">
                            <label>Sandbox</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>12</sort_order>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </istest>-->
                        <default_packing>
                            <label>Опаковка по подразбиране:</label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </default_packing>
                        <back_documents>
                            <label>Заявка за обратни документи:</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>13</sort_order>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </back_documents>
                        <back_receipt>
                            <label>Заявка за обратна разписка:</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>14</sort_order>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </back_receipt>
                       <!-- <handling_type translate="label">
                            <label>Тип на обработка:</label>
                            <frontend_type>select</frontend_type>
                            <source_model>shipping/source_handlingType</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </handling_type>
                        <handling_fee translate="label">
                            <label>Сума за обработка:</label>
                            <comment>По избор можете да добавите допълнителна такса за обработка към таксата за доставка.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </handling_fee>-->
                        <default_weight translate="label">
                            <label>Тегло по подразбиране:</label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </default_weight>
                        <has_label_printer>
                            <label>Принтер за етикети</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>17</sort_order>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Изберете "Да", ако имате принтер за етикети. </comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </has_label_printer>
                        <add_insurance>
                            <label>Добави застраховка</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>18</sort_order>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </add_insurance>
                        <is_fragile>
                            <label>Чупливи стоки</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>19</sort_order>
                            <depends>
                                <add_insurance>1</add_insurance>
                            </depends>
                            <comment>"Чупливо" може да бъде избрано, само ако е избрана и застраховка. </comment>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </is_fragile>
                        <bring_to_office>
                            <label>Изпрати от офис:</label>
                            <comment>Изберете "Да", ако Вие ще доставите пратката до офис на Спиди и така да получите отстъпка от цената за доставката.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </bring_to_office>
                        <choose_office>
                            <label>Избери офис:</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>21</sort_order>
                            <depends>
                                <bring_to_office>1</bring_to_office>
                            </depends>
   
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>speedyshippingmodule/carrier_source_office</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </choose_office>
                        
                        <free_shipping_enable translate="label">
                            <label>Активирай безплатна доставка</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </free_shipping_enable>
                        <free_shipping_subtotal translate="label">
                            <label>Праг на стойност на поръчката за безплатна доставка</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number</validate>
                            <depends>
                                <free_shipping_enable>1</free_shipping_enable>
                            </depends>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </free_shipping_subtotal>
                        <free_method_city translate="label">
                            <label>Безплатна градска услуга</label>
                            <frontend_type>select</frontend_type>
                            <frontend_class>free-method</frontend_class>
                            <depends>
                                <free_shipping_enable>1</free_shipping_enable>
                            </depends>
                            <source_model>speedyshippingmodule/carrier_source_method</source_model>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </free_method_city>
                        <free_method_intercity translate="label">
                            <label>Безплатна междуградска услуга</label>
                            <frontend_type>select</frontend_type>
                            <frontend_class>free-method</frontend_class>
                            <depends>
                                <free_shipping_enable>1</free_shipping_enable>
                            </depends>
                            <source_model>speedyshippingmodule/carrier_source_method</source_model>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </free_method_intercity>
                        <isDocuments translate="label">
                            <label>Съдържа документи:</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>25</sort_order>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </isDocuments>

                        <sallowspecific translate="label">
                            <label>Ship to applicable countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>27</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>28</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificcountry>
                        <specificerrmsg translate="label">
                            <label>Displayed Error Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>29</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificerrmsg>
                        <add_fixed_hour>
                            <label>Фиксиран час на доставка:</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>30</sort_order>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Активирайте опцията за услугите , които я позволяват</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </add_fixed_hour>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                    </fields>
                    
                </speedyshippingmodule>
            </groups>
        </carriers>
        <payment>
            <groups>
                <!--<speedypayment translate="label" module="speedyshippingmodule">
                    <label>Спиди наложен платеж</label>
                    <sort_order>650</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_processing</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                    </fields>
                </speedypayment>-->
            </groups>
        </payment>
    </sections>
</config>